body {
    margin: 0; /* Убирает внешние отступы */
    padding: 0; /* Убирает внутренние отступы, если есть */
}

.margin-container {
    margin: 250px;
}

ul {
    list-style-type: none; /* Убирает маркеры для ненумерованного списка */
    padding: 0; /* Убирает внутренние отступы */
    margin: 0; /* Убирает внешние отступы */
}